:root{
    --background: hsl(212, 45%, 89%);
    --qr-bg-color: hsl(0, 0%, 100%);
    --qr-body-color: hsl(216, 15%, 48%);
    --qr-heading-color: hsl(218, 44%, 22%);
}

html {
  height: 100%;
  margin: 0;
}

body {
  background: var(--background);
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background: var(--qr-bg-color);
  height: 530px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 18px;
  text-align: center;
  font-family: Outfit;
  font-size: 15px;
  border-radius: 15px;
}

.attribution{
  position: fixed;
  width: 100%;
  font-size: 11px; 
  text-align: center;
  bottom: 0;
}

.attribution a {
  color: var(--qr-body-color); 
}

img {
  margin: 18px;
  margin-bottom: 8px;
  border-radius: 10px;
}

h2 {
  color: var(--qr-body-color);
  margin: 0 12%;
  filter: brightness(60%);
}

p {
  color: var(--qr-heading-color);
  margin: 0 15%;
  opacity: 60%;
}
